<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What kind of car are you?</title>
    <link rel="stylesheet" href="../static/form_style.css">

</head>
<body>
    <form action="{{ url_for('personality') }}" method="POST">
        <h1>What kind of car are you?</h1>
        {%for q in questions[:6]%}
        <p>Q{{q[0]}}: {{q[1]}}</p>
        <p>
            <input type="radio" name="{{q[0]}}" value = "Yes" id="yes{{q[0]}}">
            <label for="yes{{q[0]}}">Yes</label>
            <input type="radio" name="{{q[0]}}" value = "No" id="no{{q[0]}}">
            <label for="no{{q[0]}}">No</label>
        </p>
        {%endfor%}

    {%for q in questions[6:]%}
    <p> Q{{q[0]}}: {{q[1]}}</p>
    <section>
            <ul class="likert">
                <li> <label for="1 {{q[0]}}">1</label> </li>
                <li><input type="radio" name="{{q[0]}}" value = "1"id="1 {{q[0]}}"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "2"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "3"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "4"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "5" id="5 {{q[0]}}"/></li> 
                <li><label for="5 {{q[0]}}">5</label></li>
            </ul>
    </section>
    <br>
    {%endfor%}
    <br><input type="submit"><br> <br>
    </form>

    <table class=center border=black>
        <tr>
            <td align=middle>
                    <image src="../static/social_car.jpeg" width=100px></image>
            </td>
            <td align=middle><image src="../static/practical_car.png" width=100px></image>
            </td>
            <td align=middle><image src="../static/data_car.png" width=100px></image>
            </td> 
            <td align=middle><image src="../static/creative_car.jpeg" width=100px></image>
            </td>
        </tr>
        <tr>
            <td align=middle>Social Car</td>
            <td align=middle>Practical Car</td>
            <td align=middle>Data Car</td>
            <td align=middle>Creative Car</td>
        </tr>
    </table>
</body>
</html>