<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What kind of car are you?</title>
    <link rel="stylesheet" href="../static/form_style.css">

</head>
<body>
    <form action="{{ url_for('personality') }}" method="POST">
        <h1>What kind of car are you?</h1>
        {%for q in questions[:6]%}
        <p>Q{{q[0]}}: {{q[1]}}</p>
        <p>
            <input type="radio" name="{{q[0]}}" value = "Yes" id="yes{{q[0]}}">
            <label for="yes{{q[0]}}">Yes</label>
            <input type="radio" name="{{q[0]}}" value = "No" id="no{{q[0]}}">
            <label for="no{{q[0]}}">No</label>
        </p>
        {%endfor%}

    {%for q in questions[6:]%}
    <p> Q{{q[0]}}: {{q[1]}}</p>
    <section>
            <ul class="likert">
                <li> <label for="1 {{q[0]}}">1</label> </li>
                <li><input type="radio" name="{{q[0]}}" value = "1" id="1 {{q[0]}}"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "2" id="2 {{q[0]}}"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "3" id="3 {{q[0]}}"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "4" id="4 {{q[0]}}"/></li>
                <li><input type="radio" name="{{q[0]}}" value = "5" id="5 {{q[0]}}"/></li> 
                <li><label for="5 {{q[0]}}">5</label></li>
            </ul>
    </section>
    <br>
    {%endfor%}
    <input type="text" name="pass_form" value="" id="pass_form" hidden>
    <br><input type="submit" onclick="display()"><br> <br>
    </form>

    <table class=center border=black>
        <tr>
            <td align=middle>
                    <image src="../static/social_car.jpeg" width=100px></image>
            </td>
            <td align=middle><image src="../static/practical_car.png" width=100px></image>
            </td>
            <td align=middle><image src="../static/data_car.png" width=100px></image>
            </td> 
            <td align=middle><image src="../static/creative_car.jpeg" width=100px></image>
            </td>
        </tr>
        <tr>
            <td align=middle>Social Car</td>
            <td align=middle>Practical Car</td>
            <td align=middle>Data Car</td>
            <td align=middle>Creative Car</td>
        </tr>
    </table>
    <script>
        function display() {
            let checked = 0
            let no_submit = []
            if (document.getElementById('yes1').checked || document.getElementById('no1').checked) { checked += 1 } else {no_submit.push(1)}
            if (document.getElementById('yes2').checked || document.getElementById('no2').checked) { checked += 1 } else {no_submit.push(2)}
            if (document.getElementById('yes3').checked || document.getElementById('no3').checked) { checked += 1 } else {no_submit.push(3)}
            if (document.getElementById('yes4').checked || document.getElementById('no4').checked) { checked += 1 } else {no_submit.push(4)}
            if (document.getElementById('yes5').checked || document.getElementById('no5').checked) { checked += 1 } else {no_submit.push(5)}
            if (document.getElementById('yes6').checked || document.getElementById('no6').checked) { checked += 1 } else {no_submit.push(6)}
            
            if (document.getElementById('1 7').checked || document.getElementById('2 7').checked || document.getElementById('3 7').checked || document.getElementById('4 7').checked || document.getElementById('5 7').checked) { checked += 1 } else {no_submit.push(7)}

            if (document.getElementById('1 8').checked || document.getElementById('2 8').checked || document.getElementById('3 8').checked || document.getElementById('4 8').checked || document.getElementById('5 8').checked) { checked += 1 } else {no_submit.push(8)}

            if (document.getElementById('1 9').checked || document.getElementById('2 9').checked || document.getElementById('3 9').checked || document.getElementById('4 9').checked || document.getElementById('5 9').checked) { checked += 1 } else {no_submit.push(9)}

            if (document.getElementById('1 10').checked || document.getElementById('2 10').checked || document.getElementById('3 10').checked || document.getElementById('4 10').checked || document.getElementById('5 10').checked) { checked += 1 } else {no_submit.push(10)}

            if (checked == 0) {
                alert("Fill in all questions.")
                document.getElementById("pass_form").value = "No";
            } 
            }
    </script>
</body>
</html>