<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Job Options!</title>
    <link rel="stylesheet" href="../static/form_style.css">
</head>
<body>
    <h1>Jobs under this category:</h1>
    <ol>
    {%for industry in data%}
    <li>{{industry[0]}}</li>
    <ul>
        {%for job in industry[1]%}
        <li><a href="{{ url_for('job_info', job_chosen=job, db_name='Practical_car') }}">{{job}}</a></li>
        {%endfor%}
    </ul>
    <br>
    {%endfor%}
    </ol>
</body>
</html>