<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job_chosen}}</title>
    <link rel="stylesheet" href="../static/form_style.css">
</head>
<body>
    <h1>{{job}}</h1>
    <img src='{{pic}}' width=360px>
    <p>{{descriptions[0]}}</p>
    <form action="{{ url_for('job_info', job_chosen=job_chosen, db_name=db_name) }}" method="POST">
        <input type="submit" value="Get my courses!">
    </form>
</body>
</html>