<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form_style.css">
    <title>Courses</title>
    
</head>
<body>
    <h1>Here are the criteria required for different schools for the {{job_chosen}} course!</h1>
    {% for row in data %}
    <h3>{{row[0]}}: {{row[1][0]}}</h3>
    <h4>{{row[2][0]}}</h4>
    {%for string in row[2][1:]%}
    <p>- {{string}}</p>
    {%endfor%}
    {%endfor%}
    <p>
        
    </p>
    
    <div>
        <br>
        <p>For more information, please click the following links:</p>
        {% for row in data %}
        {%for ref in row[4]%}
        {%if ref != " "%}
        <p><a href={{ref}}>{{ref}}</a></p>
        {%endif%}
        {%endfor%}
        {%endfor%}
    </div>
    <form action="{{ url_for('index') }}">
        <input type="submit" value="back to home">
    </form>
</body>
</html>