<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/test_style.css">
    <title>Welcome!</title>
</head>
<body>
    <h1 class="header">Welcome to Car-eer Highway!</h1>
    <div class="wrapper">
        <ul>
    <li><a href="{{url_for('index')}}">Home</a></li> <!-- Home button -->
    <li><a href="{{url_for('about')}}">About</a></li> <!-- About page -->
    <li>ECG ▼<!-- Dropdown to  ECG Services -->
                <ul>
    <li><a href="{{url_for('ECG')}}">Overall</a></li> <!-- Overall page -->
    <li>Education ▸<!-- Dropdown to specific education levels -->
                        <ul>
    <li>Secondary</li>
    <li>JC/Poly</li>
    <li>University</li>
    </ul>
    </li>
    
    <li><a href="{{url_for('survey_start')}}">Survey</a></li> <!-- ECG Survey -->
    </ul>
    </li>
    
    <li><a href="{{ url_for('chat_with_prof_menu') }}">Chat W/ Profs</a>
        <ul>
        </ul>
    </li>
    <li><a href="{{url_for('contact_us')}}">Contact us!</a></li>
    </ul>
    </div>
    {%if status == "DLI"%}
    <p class = "login">
        <span class="login2">
            <a href="{{ url_for('login') }}">Login</a>
        </span>
    </p>
    {%else%}
    <p class = "login">
        <span class="login2">
            <a href="">{{ status }}</a>
            <p></p>
            <a href="{{ url_for('logout') }}" id = "logout">LogOut</a>
        </span>
    </p>
    {%endif%}
    <div class="test">
        <p>Singapore’s education system puts a large emphasis that subject content is not the only thing students would learn in Singapore. One crucial part of the education system wokd be how all schools have Education and Career Guidance (ECG) session, to guide the students in their possible career options and their ambitions. Our careers do have a reliance on the path e take in our education, thus ECG is important. MOE has implemented ECG in all schools with the objectives of:</p>
        <ol class="contact">
            <li>Nurture students' self-awareness, self-directedness and life skills for continuous learning.</li>
            <li>Provide students with accurate and comprehensive information and enable them to
                explore well-thought through education and career options.</li>
            <li>Instil in students an appreciation for the value of all occupations and how they contribute
                to the society.</li>
            <li>Equip students with skills to positively engage their parents and other career influencers
                such as teachers, trusted adults and industry experts.</li>
        </ol>
        <br>
        <p>
            With such a huge emphasis on ECG in schools, we decided to do a survey to find out how
students in their teenage years feel about their career path, their thoughts about the help that they
have on ECG, as well as what they think. Would help them in better understanding their career
path through ECG.
        </p>
        <br>
        <p>Overall, career and work are oftentimes an immense part of people&#39;s lives, thus career counseling
            can be very valuable and helpful for an individual&#39;s overall happiness, and to resolve work
            related issues. 3 Career guidance is thoroughly important and thus there is a need to implement
            this website to help the student population in their overall happiness. Therefore, “Car-eer
            Highway” has been created to aid in the Career Guidance of students with utmost accessibility
            and ease.</p>
    </div>
</body>

</html>