<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/test_style.css">
    
    <title>ECG!</title>
</head>
<body>
    <h1>Welcome to Car-eer Highway!</h1>
    <div class="wrapper">
        <ul>
    <li><a href="{{url_for('index')}}">Home</a></li> <!-- Home button -->
    <li><a href="{{url_for('about')}}">About</a></li> <!-- About page -->
    <li>ECG ▼<!-- Dropdown to  ECG Services -->
                <ul>
    <li><a href="{{url_for('ECG')}}">Overall</a></li> <!-- Overall page -->
    <li>Education ▸<!-- Dropdown to specific education levels -->
                        <ul>
    <li>Secondary</li>
    <li>JC/Poly</li>
    <li>University</li>
    </ul>
    </li>
    
    <li><a href="{{url_for('survey_start')}}">Survey</a></li> <!-- ECG Survey -->
    </ul>
    </li>
    
    <li><a href="{{ url_for('chat_with_prof_menu') }}">Chat W/ Profs</a>
        <ul>
        </ul>
    </li>
    <li><a href="{{url_for('contact_us')}}">Contact us!</a></li>
    </ul>
    </div>
    {%if status == "DLI"%}
    <p class = "login">
        <span class="login2">
            <a href="{{ url_for('login') }}">Login</a>
        </span>
    </p>
    {%else%}
    <p class = "login">
        <span class="login2">
            <a href="">{{ status }}</a>
            <p></p>
            <a href="{{ url_for('logout') }}" id = "logout">LogOut</a>
        </span>
    </p>
    {%endif%}

    <div class="test">
        <p>Having done a survey with students of age 13-16, we have collated responses about
            what they wish they could have access to in order for them to step into the unknown of career
            guidance. Many respondents have also surfaced that they are worried about their future career
            and wish for some guidance, some respondents
            would like websites to increase accessibility to the information on ECG. Thus, our website “Car-
            eer Highway” is created for that purpose.<br><br>
            A new OECD research paper shows that most 15-year-olds already have career plans, but only
            around 15% of them have thoroughly decided what they want to do. The data also suggests that
            today’s teenagers are not very imaginative when it comes to their expected working life. 2 With
            many teenagers being confused about their future and unsure about their future jobs, students
            easily regret their decisions in University courses. In order to emit this, “Career-Highway” was
            created.</p>
            <br>
            <p>
                Under the Education tab, you will be able to take a look at education and career paths, explore the different subjects at different levels of education, so that you will be able to plan ahead!
            </p>
    </div>

</body>
</html>