<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/test_style.css">
    
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to Car-eer Highway!</h1>
    <div class="wrapper">
        <ul>
    <li><a href="{{url_for('index')}}">Home</a></li> <!-- Home button -->
    <li><a href="{{url_for('about')}}">About</a></li> <!-- About page -->
    <li>ECG ▼<!-- Dropdown to  ECG Services -->
                <ul>
    <li>Overall</li> <!-- Overall page -->
    <li>Education ▸<!-- Dropdown to specific education levels -->
                        <ul>
    <li>Secondary</li>
    <li>JC/Poly</li>
    <li>University</li>
    </ul>
    </li>
    
    <li><a href="{{url_for('survey_start')}}">Survey</a></li> <!-- ECG Survey -->
    </ul>
    </li>
    
    <li><a href="{{ url_for('chat_with_prof_menu') }}">Chat W/ Profs</a>
        <ul>
        </ul>
    </li>
    <li>Contact us!</li>
    </ul>
    </div>
    {%if status = %}
    <p class = "login">
        <span class="align-right">
            <a href="{{ url_for('login') }}">Login</a>
        </span>
        </p>

    <div class="test">
        <p><b>Welcome to Career Highway!</b> <br>This website is created to aid and guide you in choosing your career path.
            <br>
            <br>
            Through a short survey under 'ECG', wou will be able to know the type of car you are, which allows you to also access the courses open for the specific career option!
            <br>
            <br>
            Under the 'Chat with Profs' tab, you would be able to chat with professors from different universities to ask them your queries and hopefully get some real-time responses!
        </p>
    </div>
    <div class="possibilities">
        <h3>What can you do here?</h3>
        <br>
        <p>On this website, you will be able to do the following:</p>
        <ol>
            <li>Education and Career Guidance</li>
            <ul>
                <li>Under the <b>overall</b> tab, you will be able to take a look at an overview of the different educational paths to take in the future.</li>
                <li>Under the Education Tab, you will be able to dive deeper into the different schools, subjects and possible courses for each level of your education journey</li>
                <li>You can also take the short 10-question survey to know more about your own personality, as well as to find out about the jobs, courses and requirements for those courses in University! Just click the "Survey" tab under "ECG"!</li>
            </ul>
            <li>Chat with professors</li>
            <ul>
                <li>Under the Chat w/ profs tab, you will be able to log in and chat with a few professors regarding the different courses, or even enquire them about some ECG questions that you might have!</li>
                <li>To use the function, you will have to create an account by simply clicking the login button, where there will be a prompt for you to create an account!</li>
                <li>Once you have logged in, you will be able to choose the professor you would like to chat with and enquire away!</li>
            </ul>

            <p> If you wish to contact us, do check out the Contact Us tab! Thank you for using the website!</p>
        </ol>
    </div>
    <br>
        <br>
</body>
</html>